/* General container */
.lobby-container {
  background-color: #e9f4fa;
  font-family: 'Segoe UI', sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

/* Header */
.lobby-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4be92;
  padding: 15px 40px;
}

.lobby-header h1 {
  margin: 0;
  color: #5a2600;
  font-size: 2rem;
}

.lobby-nav span {
  margin-left: 25px;
  font-weight: bold;
  color: #d35f00;
  cursor: pointer;
}

/* Lobby URL */
.lobby-url-box {
  margin: 30px auto;
  max-width: 600px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.lobby-url-box label {
  font-weight: bold;
  margin-right: 10px;
}

.lobby-url-box input {
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #aaa;
}

.lobby-url-box button {
  padding: 8px 12px;
  background-color: #f7931e;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

    .start-game-button:hover {
  background-color: rgb(116, 185, 12);
  }

  .lobby-room-input {
  margin-right: 12px;
  font-size: 16px;
}
