.Toastify__toast-container--top-right {
  top: 65px !important;
}

.Toastify__toast-container--top-left {
  top: 65px !important;
}

.Toastify__toast-container--top-center {
  top: 65px !important;
}
